<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<title>ReDefine</title>
</head>

<body>
<div id="bgimg">
<!--navbar starts-->
<header class="sticky-top">
	<nav id="header-nav" class="navbar navbar-expand-md">
		<div class="container">
			<div class="navbar-header">
				<a href="index.html" class="pull-left visible-md visible-lg">
					<div id="logo-img"></div>
				</a>
				<div class="navbar-brand">
           		<a href="index.html"><h1 class="clrr">Re</h1><h1>Define</h1> </a>
            	</div>
				        <button type="button" class="navbar-toggle collapsed d-block d-md-none" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
        </div>
          
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <div id="nav-list" class="nav navbar-nav">
            <a href="#abt">
              <p>
                <br class=".d-none .d-sm-block">About ReDefine</p>
            </a>
            <a href="calcont\index1.html">
              <p>
                <br class=".d-none .d-sm-block">Dashboard</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">User Login</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">Doctor Login</p>
            </a>
            
          </div><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>
  <!--Navbar over-->
  <!-- main body-->

<div id="main-content">
	<div class="jumbotron jumbotron-fluid">
		<div class="container" id="cont1">
    		<h1 class="display-4 clrr">RE</h1> <h1 class="display-4">DEFINE</h1>
   	 		<p class="lead">Busting myths, changing lifes. </p>
    </div>
    <div id="abt">
        <p>At ReDefine, our goal is to provide you with the truth and only the truth, and help you adhere to the fitness lifestyle and change. your. life. In a primarily capitalist world, the truth is usually hard to seek. We, at ReDefine, will help you find the perfect way for you to get in the best shape of your life.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>    	
</div>


	<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/Rectangle 14.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Calorie Counter</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/Rectangle 15.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Workout guide</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/Rectangle 13.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Diet Plan</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>    
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
	<!-- 4th tile over-->
</div>
<!--Content over-->
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascript/javaqry.js"></script>
</body>
</html>