<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <title>ReDefine</title>
</head>

<body>
<div id="bgimg">
<!--navbar starts-->
<header class="sticky-top">
  <nav id="header-nav" class="navbar navbar-expand-md">
    <div class="container">
      <div class="navbar-header">
        <a href="index.html" class="pull-left visible-md visible-lg">
          <div id="logo-img"></div>
        </a>
        <div class="navbar-brand">
              <a href="index.html"><h1 class="clrr">Re</h1><h1>Define</h1> </a>
              </div>
                <button type="button" class="navbar-toggle collapsed d-block d-md-none" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
        </div>
          
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <div id="nav-list" class="nav navbar-nav">
            <a href="index.html">
              <p>
                <br class=".d-none .d-sm-block">TDEE Calculator</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">Calorie counter</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">Workout guide</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">Diet plan</p>
            </a>
            <a href="#">
              <p>
                <br class=".d-none .d-sm-block">Help</p>
            </a>
            
          </div><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>
  <!--Navbar over-->
  <!-- main body-->

<div id="main-content">
  <div class="jumbotron jumbotron-fluid">
    <div class="container" id="cont1">
        <h1 class="display-4 clrr">Re</h1> <h1 class="display-4">Define</h1>
        <p class="lead">Busting myths, changing lifes. </p>
        <hr class="my-4">
        <p>At ReDefine, our goal is to provide you with the truth and only the truth, and help you adhere to the fitness lifestyle and change. your. life. In a primarily capitalist world, the truth is usually hard to seek. We, at ReDefine, will help you find the perfect way for you to get in the best shape of your life.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>      
</div>

<div id="no1">
  <div class="container cont2">
    <div id="tdee" class="d-md-block d-none d-sm-block"></div>
    <div class="tile-title">
      <h2>TDEE CALCULATOR</h2>
    </div>
    <br><br>
      <div class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </div> 
      <br><br><br><br><br><br><br><br>
      <form>
          <div class="form-group col-md-3 mb-3">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" placeholder="20">
          </div>
            <div class="form-group col-md-3 mb-3" >
              <label for="weight">Weight</label>
              <input type="text" class="form-control" id="weight" placeholder="80">
          </div>
          <div class="form-group col-md-3 mb-3">
              <label for="height">Height</label>
              <input type="text" class="form-control" id="height" placeholder="180">
          </div>
          <div class="form-group col-md-3 mb-3">
              <label for="actlvl">Activity Level</label>
            <select class="form-control" id="actlvl">
            <option>Sedentary (Little to no activity)</option>
            <option>Lightly Active (Excercise 1-2 times a week)</option>
            <option>Moderately Active(Excercise 3-5 times a week)</option>
            <option>Highly Active(Excercise 6 times a week or heavy workout 3-5 days a week)</option>
            <option>Athlete(Physically demanding job)</option>
          </select>
        </div>
      </form>
      <div class="btn1">
        <a class="btn btn-primary btn-lg" href="#" role="button">Calculate</a>
      </div>
  </div>
  <!-- 1st tile over-->
  <div class="container cont2">
    <div id="calo" class="d-md-block d-none d-sm-block"></div>
    <div class="tile-title">
      <h2>CALORIE COUNTER</h2>
    </div>
    <br><br>
      <div class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </div> 
      <br><br><br><br><br><br><br><br>
      <div class="btn1">
        <a class="btn btn-primary btn-lg" href="#" role="button">Start Counting</a>
      </div>
  </div>
  <!-- 2nd tile over-->
  <div class="container cont2">
    <div id="work" class="d-md-block d-none d-sm-block"></div>
    <div class="tile-title">
      <h2>WORKOUT GUIDE</h2>
    </div>
    <br><br>
      <div class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </div> 
      <br><br><br><br><br><br><br><br>
      <div class="btn1">
        <a class="btn btn-primary btn-lg" href="#" role="button">Jump In</a>
      </div>
  </div>
  <!-- 3rd tile over-->
  <div class="container cont2">
    <div id="diet" class="d-md-block d-none d-sm-block"></div>
    <div class="tile-title">
      <h2>DIET GUIDE</h2>
    </div>
    <br><br>
      <div class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </div> 
      <br><br><br><br><br><br><br><br>
      <div class="btn1">
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Your Diet Plan</a>
      </div>
  </div>
  <!-- 4th tile over-->
</div>
<!--Content over-->
<!--Footer starts-->
<footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-2">
          <span>Ashutosh</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr class="visible-xs">
        </section>
       <section id="hours" class="col-sm-2">
          <span>Anushrav</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr class="visible-xs">
        </section>
        <section id="hours" class="col-sm-2">
          <span>Rishi</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr class="visible-xs">
        </section>
        <section id="hours" class="col-sm-2">
          <span>Swarag</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr class="visible-xs">
        </section>
        <section id="hours" class="col-sm-2">
          <span>Dhruv</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr class="visible-xs">
        </section>
        <section id="hours" class="col-sm-2">
          <span>Skrrt</span><br>
            <a href="">View on LinkedIn</a><br>
            <a href="">View on Github</a>
          <hr>
        </section>

      </div>
      <div class="text-center">2019. All rights reserved.</div>
    </div>
  </footer>
  
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascript/javaqry.js"></script>
</body>
</html>