<%=user%>

<form action="/user/logout" method="get">
    <button>
        LogOUT
    </button>
</form>


<form action="/user/addDetail" method="post">
    <input type="number" name="detail[height]">
    <input type="number" name="detail[weight]">
    <input type="number" name="detail[activity]">
    <input type="submit">
</form>